@font-face {
  font-family: 'Object Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/ObjectSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Object Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/ObjectSans-Bold.woff2') format('woff2');
}

.font-size-large {
  font-size: large;
}
