.selected-traffic-signs {
  position: absolute;
  right: 3.5rem;
  bottom: 2rem;

  &__item {
    background-color: white;
    border-radius: 0.25rem;
    width: 15rem;

    img {
      border-radius: 0.25rem;
      width: 15rem;
      object-fit: contain;
    }
  }

  &__content {
    padding: 1rem;

    h1 {
      margin: 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: end;
    padding: 0 1rem 1rem 1rem;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: white;
    width: 15rem;
    word-spacing: 0.25rem;

    button {
      margin: 0 1rem;
    }
  }

  &__close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: white;
  }
}
