@if (selectedTrafficSigns(); as trafficSigns) {
  <ndw-card>
    <ndw-card-header>
      @if (trafficSign(); as trafficSign) {
        @if (trafficSigns.length > 1) {
          <button ndwButton tertiary alternative class="back-button" (click)="showAll()">
            <ndw-icon>keyboard_arrow_left</ndw-icon>
            Terug naar overzicht
          </button>
        } @else {
          Verkeersbord
        }
      } @else {
        Verkeersborden
      }
      <button ndwButton ndwTooltip="Sluit popup" tertiary alternative (click)="close()">
        <ndw-icon>close</ndw-icon>
      </button>
    </ndw-card-header>
    <ndw-card-content>
      @if (trafficSign(); as trafficSign) {
        @if (trafficSigns.length > 1) {
          <h4>Verkeersbord</h4>
        }
        <p class="road-name">
          {{ trafficSign.roadName }}
        </p>
        @if (trafficSign.image) {
          <img [src]="trafficSign.image" alt="{{ trafficSign.rvvCode }} verkeersbord" />
        } @else {
          <img src="assets/images/traffic-signs/not-available.png" alt="Afbeelding van verkeersbord niet beschikbaar" />
        }

        {{ trafficSign.side | trafficSignOrientation }}
        @if (trafficSign.bearing > 0) {
          ({{ trafficSign.bearing }}°)
        }
        <div>
          @if (trafficSign.lnglat) {
            <div>
              <a ndwLink [href]="streetviewUrl()" target="_blank"> Streetview <ndw-icon>open_in_new</ndw-icon> </a>
            </div>
          }
          <div>
            <a ndwLink [href]="georgeTrafficSignUrl()" target="_blank">
              Bord in George <ndw-icon>open_in_new</ndw-icon>
            </a>
          </div>
          @if (trafficSign.wvkId) {
            <div>
              <a ndwLink [href]="georgeRoadSectionUrl()" target="_blank">
                Wegvak in George <ndw-icon>open_in_new</ndw-icon>
              </a>
            </div>
          }
        </div>
        @if (rvvExemptionUrl()) {
          <div class="selected-traffic-signs__actions">
            <a ndwButton large [href]="rvvExemptionUrl()" target="_blank">RVV ontheffing</a>
          </div>
        }
      } @else {
        <div class="list">
          @for (trafficSign of trafficSigns; track trafficSign.id) {
            <div class="list-item" role="button" (click)="setTrafficSign(trafficSign.id)">
              @if (trafficSign.image) {
                <img [src]="trafficSign.image" alt="{{ trafficSign.rvvCode }} verkeersbord" />
              } @else {
                <img
                  src="assets/images/traffic-signs/not-available.png"
                  alt="Afbeelding van verkeersbord niet beschikbaar"
                />
              }
              <p>{{ trafficSign.rvvCode }} &ndash; {{ trafficSign.roadName }}</p>
            </div>
          }
        </div>
      }
    </ndw-card-content>
  </ndw-card>
}
