:host {
  width: 16rem;

  ndw-card {
    gap: var(--ndw-spacing-md);

    ndw-card-header {
      align-items: flex-start;
      gap: var(--ndw-spacing-sm);
      grid-template-columns: 1fr auto;
    }

    ndw-card-content {
      display: grid;
      gap: var(--ndw-spacing-md);

      .road-name {
        font-size: var(--ndw-font-size-sm);
        margin: var(--ndw-spacing-3xs) 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      img {
        border-radius: var(--ndw-spacing-2xs);
        width: 100%;
        object-fit: contain;
      }

      [ndwButton] {
        width: 100%;

        &.back-button {
          justify-self: flex-start;
          width: fit-content;
        }
      }

      .list {
        display: grid;
        max-height: 20rem;
        overflow-y: auto;

        .list-item {
          align-items: center;
          background-color: var(--ndw-color-white);
          border-radius: var(--ndw-border-radius-sm);
          display: grid;
          gap: var(--ndw-spacing-xs);
          grid-template-columns: auto 1fr;
          padding: var(--ndw-spacing-xs);
          transition: background-color 200ms ease-out;

          &:hover {
            background-color: var(--ndw-alpha-black-007);
          }

          &:active {
            background-color: var(--ndw-alpha-black-015);
          }

          img {
            height: var(--ndw-spacing-xl);
          }

          p {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
