@import 'abstracts/variables';

.local-banner {
  background: linear-gradient(to bottom, $primary-400 10%, $white 10%);
}

.staging-banner {
  background: linear-gradient(to bottom, lightgreen 10%, $white 10%);
}

.brand-line {
  border-bottom: 0.5rem solid $primary-400;
  box-shadow: 0px 0.5rem 0px $primary-600;
}

.nav-header {
  padding: 2rem 0 0.5rem;
  margin-bottom: 0.5rem;
  background-color: $white;

  .container {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }

  &__logo {
    display: flex;
    align-items: flex-end;

    .image-logo {
      height: 36px;
    }

    .title {
      display: inline-block;
      margin-left: 0.5rem;
      line-height: 1;
      font-weight: 700;
    }

    .environment {
      margin-left: 0.5rem;
      line-height: 1;
      font-weight: 400;
      font-size: 0.6rem;
    }
  }
}

.navigation {
  &__menu {
    margin-left: 2rem;

    &__item {
      display: inline-block;
      margin-right: 1rem;

      &--block {
        display: block;
      }
    }

    &__link {
      opacity: 0.75;
      text-decoration: none;
      color: var(--bs-dark);

      &--active {
        opacity: 1;
      }

      &:not(.navigation__menu__link--active):hover {
        opacity: 1;
        color: var(--bs-primary);
      }
    }
  }

  &__user {
    margin-left: auto;

    ul {
      overflow: hidden;

      .restriction-message {
        margin-top: -0.5rem;

        background-color: rgba(map-get($theme-colors, 'warning'), 0.15);
        color: $primary-600;

        a {
          color: inherit;
        }
      }
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;

  background-color: var(--bs-white);
  transform: translateX(-100%);
  transition: all 0.15s ease-out;

  &--open {
    transform: translateX(0);
  }

  &__menu {
    margin-top: 2rem;
  }

  .navigation__menu__item {
    padding: 0.5rem 0;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}