:host {
  display: flex;
  flex-direction: column;
  gap: var(--ndw-spacing-xs);

  .legend-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--ndw-spacing-sm);

    &__line {
      width: var(--ndw-spacing-lg);
      height: var(--ndw-spacing-sm);
      margin-top: var(--ndw-spacing-2xs);
      border: 1px solid var(--ndw-white);
    }

    &__image {
      width: var(--ndw-spacing-lg);
      height: var(--ndw-spacing-lg);
    }

    &__description {
      align-self: center;
      display: grid;
    }

    &__subtitle {
      color: var(--ndw-color-grey-500);
    }
  }
}
