@for (item of legendItems(); track item.name) {
  <div class="legend-item">
    <div class="legend-item__icon">
      @if (item.img) {
        <img [ngSrc]="item.img" width="24" height="24" [alt]="item.name" class="legend__image" />
      } @else {
        <div
          class="legend-item__line"
          [style.background-color]="item.color"
          [style.border-color]="item.outlineColor"
        ></div>
      }
    </div>
    <div class="legend-item__description">
      <span class="legend-item__name">{{ item.name }}</span>
      @if (item.subTitle) {
        <small class="legend-item__subtitle">{{ item.subTitle }}</small>
      }
    </div>
  </div>
}
