<div class="legend">
  @for (item of legendItems; track item.name) {
    <div class="row mb-1 pb-1">
      <div class="col-2">
        @if (item.img) {
          <img [ngSrc]="item.img" width="24" height="24" [alt]="item.name" class="legend__image" />
        } @else {
          <div
            class="legend__line"
            [style.background-color]="item.color"
            [style.border-color]="item.outlineColor"
          ></div>
        }
      </div>
      <div class="col-10 d-flex flex-column">
        <span>{{ item.name }}</span>
        @if (item.subTitle) {
          <small class="text-muted">{{ item.subTitle }}</small>
        }
      </div>
    </div>
  }
</div>
