<p>
  @if (!municipalityDateLastCheck) {
    De Gemeente {{ municipalityName }} heeft de resultaten van de kaart nog niet gecontroleerd.
  } @else if (isDateLessThanSixMonths(municipalityDateLastCheck)) {
    De gemeente {{ municipalityName }} heeft de kaart voor het laatst gecontroleerd op
    {{ municipalityDateLastCheck | date: 'dd-MM-yyyy' }}.
  } @else {
    Let op, het is meer dan 12 maanden geleden dat de gemeente {{ municipalityName }} de resultaten van de kaart voor
    het laatst heeft gecontroleerd
  }
</p>
<div class="steps">
  <!-- Step 1 -->
  <div class="steps__header">
    <div class="d-flex justify-content-between">
      <span>Stap 1, Voertuig</span>
      <button (click)="onEditStep(1)" class="link-button" aria-label="Wijzig de invoer van stap 1, uw voertuig">
        wijzig
      </button>
    </div>
    <hr />
  </div>
  <table>
    <tbody>
      @if (licensePlate) {
        <tr>
          <td>Kenteken</td>
          <td>{{ licensePlate }}</td>
        </tr>
      }
      @if (vehicleType) {
        <tr>
          <td>Voertuigtype</td>
          <td>{{ vehicleType }}</td>
        </tr>
      }
      <tr>
        <td>Hoogte</td>
        <td>{{ height | number: '1.2' }} m</td>
      </tr>
      @if (trailer) {
        <tr>
          <td>Aanhanger</td>
          <td>Ja</td>
        </tr>
      }
    </tbody>
  </table>

  <!-- Step 2 -->
  <div class="steps__header mt-4">
    <div class="d-flex justify-content-between">
      <span>Stap 2, Gemeente</span>
      <button
        (click)="onEditStep(2)"
        class="link-button"
        aria-label="Wijzig de invoer van stap 2, uw gemeente selectie"
      >
        wijzig
      </button>
    </div>
    <hr />
  </div>
  <table>
    <tbody>
      <tr>
        <td>Bestemming</td>
        <td>{{ destination }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Step 3 -->
  <div class="steps__header mt-4">
    <div class="d-flex justify-content-between">
      <span>Stap 3, Voertuigdetails</span>
      <button (click)="onEditStep(3)" class="link-button" aria-label="Wijzig de invoer van stap 3, uw voertuigdetails">
        wijzig
      </button>
    </div>
    <hr />
  </div>
  <table>
    <tbody>
      <tr>
        <td>Rijklaar gewicht</td>
        <td class="number">{{ vehicleCurbWeight | number: '1.0' }}</td>
        <td>kg</td>
      </tr>
      <tr>
        <td>Lading</td>
        <td class="number">{{ vehicleLoad | number: '1.0' }}</td>
        <td>kg</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Totaal gewicht</td>
        <td class="number">{{ vehicleTotalWeight | number: '1.0' }}</td>
        <td>kg</td>
      </tr>
    </tfoot>
  </table>
  <table>
    <tbody>
      <tr>
        <td>Aslast</td>
        <td class="number">{{ vehicleAxleLoad | number: '1.0' }}</td>
        <td>kg</td>
      </tr>
      <tr>
        <td>Lengte</td>
        <td class="number">{{ vehicleLength | number: '1.2' }}</td>
        <td>m</td>
      </tr>
      <tr>
        <td>Breedte</td>
        <td class="number">{{ vehicleWidth | number: '1.2' }}</td>
        <td>m</td>
      </tr>
    </tbody>
  </table>
</div>

@if (municipalityExemptionUrl) {
  <h5 class="mt-5">Ontheffing aanvragen?</h5>
  <p class="mb-0">Vraag hier een RVV-ontheffing aan voor de gemeente {{ municipalityName }}:</p>
  <div class="d-flex flex-row-reverse">
    <a ndwButton secondary [href]="municipalityExemptionUrl" target="_blank">Ontheffing aanvragen</a>
  </div>
}

<div class="d-flex justify-content-between mt-5">
  <button ndwButton secondary [ndwPopoverTrigger]="download" [popoverPosition]="'nextToTriggerButton'">
    <ndw-icon>download</ndw-icon>
    Download
  </button>
  <div class="d-flex gap-2">
    <button ndwButton secondary (click)="startWithNewInput()">Begin opnieuw</button>
    <button ndwButton (click)="onClose()">Bekijk kaart</button>
  </div>
  <ng-template #download>
    <ndw-card>
      <button class="list-item" (click)="downloadTrafficSigns()" [disabled]="loadingTrafficSigns()">
        <ndw-icon>{{ loadingTrafficSigns() ? 'hourglass_top' : 'directions' }}</ndw-icon>
        Data verkeersborden
      </button>
      <button class="list-item" (click)="downloadRoadSections()" [disabled]="loadingRoadSections()">
        <ndw-icon>{{ loadingRoadSections() ? 'hourglass_top' : 'remove_road' }}</ndw-icon>
        Data niet toegankelijke wegen
      </button>
    </ndw-card>
  </ng-template>
</div>
