.steps {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5rem;

  &__header {
    grid-column: 1 / span 2;

    hr {
      margin: 0 0 0.25rem 0;
    }
  }

  table {
    border-collapse: collapse;
    grid-column: 1 / -1;
    margin-top: var(--ndw-spacing-md);

    tbody,
    tfoot {
      tr {
        display: flex;

        td {
          padding: var(--ndw-spacing-2xs);

          &:first-of-type {
            width: 80%;
          }

          &:nth-child(2) {
            font-weight: var(--ndw-font-weight-bold);
            width: 100%;
          }

          &:nth-child(3) {
            width: 10%;
          }

          &.number {
            text-align: right;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          &.number {
            font-weight: initial;
          }
        }
      }
    }

    tfoot {
      border-top: var(--ndw-border-size-sm) solid var(--ndw-color-grey-200);

      tr {
        font-weight: var(--ndw-font-weight-bold);
      }
    }
  }
}

button.link-button {
  background: none;
  border: none;
  color: #89b5b3;
  text-decoration: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

ndw-card {
  gap: var(--ndw-spacing-sm);
  padding: var(--ndw-spacing-sm);

  .list-item {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--ndw-color-grey-500);
    display: flex;
    gap: var(--ndw-spacing-xs);
    padding: 0;
    text-decoration: none;

    &:hover {
      color: var(--ndw-color-grey-700);
    }

    ndw-icon {
      font-size: var(--ndw-font-size-lg);
    }
  }
}
