:host {
  height: 100svh;
  display: block;
}

.map {
  position: relative;
  height: 100%;
}

ndw-card {
  width: 400px;
  height: 100dvh;
  box-shadow: var(--ndw-elevation-popover);
  animation: slideIn 0.3s ease-out;
  grid-template-rows: auto 1fr;

  ndw-card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
