<div class="map">
  <ber-main-map
    #map
    [expressions]="expressions"
    (openPanel)="open(drawerContent)"
    [showControlPanel]="showControlPanel()"
  />
</div>

<ber-user-vehicle-form (modalClosed)="showControlPanel.set(true)" />

<ng-template #drawerContent>
  <ndw-card>
    <ndw-card-header>
      <h2>Bereikbaarheid</h2>
      <button ndwButton secondary alternative type="button" title="Sluiten" (click)="close()">
        <ndw-icon>close</ndw-icon>
      </button>
    </ndw-card-header>
    <ndw-card-content>
      <ber-user-vehicle-summary (closed)="close()" />
    </ndw-card-content>
  </ndw-card>
</ng-template>
