<div class="map">
  @defer (on idle) {
  <ber-main-map #map [expressions]="expressions">
    <button ndwButton large (click)="open(content)">Bekijk bereikbaarheid</button>
  </ber-main-map>
  } @placeholder {
  <div class="spinner">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Kaart is aan het laden...</span>
    </div>
  </div>
  }
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvas-basic-title">Bereikbaarheid</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <ber-map-form
      [form]="form"
      [municipalities]="municipalities()"
      [vehicleWeightRequired]="vehicleLoadRequired() || false"
      [maxVehicleLoad]="maxVehicleLoad()"
      [maxVehicleAxleWeight]="maxVehicleAxleWeight()"
      [loading]="loading()"
      (formSubmit)="formSubmitted()"
      (formClear)="formClear()"
      (fetchInfoClicked)="fetchVehicleInfo()"
    ></ber-map-form>
  </div>
</ng-template>
