<div class="map">
  @defer (on idle) {
    <ber-main-map #map [expressions]="expressions">
      <button ndwButton large (click)="open(content)">Bekijk gegevens</button>
    </ber-main-map>
  } @placeholder {
    <div class="spinner">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Kaart is aan het laden...</span>
      </div>
    </div>
  }
</div>

<ber-user-vehicle-form />

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvas-basic-title">Bereikbaarheid</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <ber-user-vehicle-summary (close)="offcanvas.dismiss('Cross click')"></ber-user-vehicle-summary>
  </div>
</ng-template>
