<ndw-card>
  <ng-container title> Bereikbaarheid </ng-container>
  <ng-container body>
    <div class="content">
      <p>Na het invoeren van uw gegevens ziet u op de kaart of uw bestemming bereikbaar is.</p>
      <form [formGroup]="form()">
        <ndw-form-field label="Kenteken" [error]="licensePlateError()">
          <div class="license-plate">
            <div class="license-plate_prefix">
              <img src="assets/images/kenteken-prefix.svg" alt="Onderscheidingsteken met de NL landcode." />
            </div>
            <input
              ndwInput
              type="text"
              class="license-plate_input"
              formControlName="licensePlate"
              [ngClass]="{ disabled: licensePlateUnknown }"
            />
          </div>
        </ndw-form-field>
        <ndw-form-field>
          <ndw-checkbox
            formControlName="unknownLicensePlate"
            [checked]="licensePlateUnknown"
            (checkedChange)="toggleLicensePlateUnknown()"
          >
            Ik heb geen kenteken
          </ndw-checkbox>
        </ndw-form-field>
        @if (licensePlateUnknown) {
        <ndw-form-field label="Voertuigtype">
          <select ndwInput formControlName="vehicleType">
            <option selected disabled>Selecteer voertuigtype</option>
            @for (vehicleType of vehicleTypes; track $index) {
            <option [value]="vehicleType.key">{{ vehicleType.value }}</option>
            }
          </select>
        </ndw-form-field>
        }
        <ndw-form-field label="Hoogte van uw voertuig">
          <input
            ndwInput
            type="number"
            formControlName="height"
            min="0"
            placeholder="0.00"
            step="0.01"
            [value]="vehicleHeight()"
          />
        </ndw-form-field>
        <ndw-form-field>
          <ndw-checkbox formControlName="trailer"> Ik heb een aanhanger en/of oplegger </ndw-checkbox>
        </ndw-form-field>
      </form>
    </div>
  </ng-container>
  <ng-container footer>
    <ber-actions [currentStep]="1" [steps]="3" [disableNext]="form().invalid" (next)="onNext()" />
  </ng-container>
</ndw-card>
