ndw-card {
  align-content: flex-start;
  height: 100%;
  max-width: 30rem;

  ndw-card-content {
    .content {
      min-height: 36rem;

      form {
        display: grid;
        gap: var(--ndw-spacing-md);

        ndw-form-field {
          &.license-plate-field {
            max-width: 12rem;
          }
          .license-plate {
            display: grid;
            grid-template-columns: auto 1fr;

            &_prefix {
              background-color: #004699;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
              color: var(--ndw-color-white);
              display: grid;
              padding: var(--ndw-spacing-3xs);
              place-content: center;
              place-items: center;
              height: var(--ndw-spacing-2xl);
              width: var(--ndw-spacing-lg);
              z-index: 10;

              img {
                width: 100%;
              }
            }

            &_input {
              background-color: #ffe041;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              font-family: 'Kenteken', sans-serif;
              font-size: var(--ndw-font-size-xl);
              text-align: center;
              text-transform: uppercase;
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;

              &.disabled {
                background-color: var(--ndw-color-grey-100);
                border-color: var(--ndw-color-grey-200);
                color: var(--ndw-color-grey-400);
                pointer-events: none;
                user-select: none;
              }
            }
          }
        }

        ndw-checkbox {
          .checkbox {
            margin-bottom: var(--ndw-spacing-sm);
          }
        }
      }
    }
  }
}
