ndw-card {
  align-content: flex-start;
  margin-inline: var(--ndw-spacing-sm);
  max-width: 100%;
  width: 30rem;

  ndw-card-content {
    .content {
      width: 100%;
      min-height: 36rem;
    }
  }
}
