ndw-card {
  align-content: flex-start;
  margin-inline: var(--ndw-spacing-sm);
  max-width: 100%;
  width: 30rem;

  .content,
  .footer {
    width: 100%;
  }

  .content {
    min-height: 24rem;
  }
}
