ndw-card {
  align-content: flex-start;
  height: 100%;
  max-width: 30rem;

  ndw-card-content {
    .content {
      width: 100%;
      min-height: 36rem;

      form {
        display: grid;
        gap: var(--ndw-spacing-md);
      }
    }
  }
}

ndw-dropdown {
  width: 100%;
}
