<div class="next">
  Stap {{ currentStep() }} van {{ steps() }}
  @if (currentStep() !== steps()) {
    <button ndwButton large [disabled]="disableNext()" (click)="onNext()">Volgende</button>
  } @else {
    <button ndwButton large [disabled]="disableComplete() || isLoading()" (click)="onComplete()">
      @if (isLoading()) {
        <ndw-loader />
      }
      Bekijk kaart
    </button>
  }
</div>
@if (currentStep() > 1) {
  <button ndwButton large secondary [disabled]="isLoading()" (click)="onPrevious()">Vorige</button>
}
