<div class="next">
  Stap {{ currentStep() }} van {{ steps() }}
  @if (currentStep() !== steps()) {
    <button ndwButton large [disabled]="disableNext()" (click)="onNext()">Volgende</button>
  } @else {
    @if (isLoading()) {
      <div class="spinning">
        <ndw-icon>progress_activity</ndw-icon>
      </div>
    }
    <button ndwButton large [disabled]="disableComplete() || isLoading()" (click)="onComplete()">Bekijk kaart</button>
  }
</div>
@if (currentStep() > 1) {
  <button ndwButton large secondary [disabled]="isLoading()" (click)="onPrevious()">Vorige</button>
}
