:host {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.next {
  align-items: center;
  color: var(--ndw-color-grey-300);
  display: flex;
  gap: var(--ndw-spacing-sm);
  justify-content: flex-end;
}

.spinning {
  animation: spin 1s linear infinite;
  line-height: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
