<ndw-card>
  <ndw-card-header>Disclaimer BETA</ndw-card-header>
  <ndw-card-content>
    <p>
      Dit product is nog in ontwikkeling en in de huidige fase <strong>alleen geschikt</strong> voor wegbeheerders voor
      testdoeleinden en ter controle van de achterliggende data. De kaart is <strong>niet</strong> vrijgegeven voor
      weggebruikers. Voor meer informatie over de bereikbaarheidskaart lees verder op de
      <a [href]="accessibilityMapUrl" target="_blank">NDW website</a>
    </p>
    <p>De check wanneer / of de kaartgegevens zijn gecontroleerd vind u in het "bekijk gegevens" scherm.</p>
    <p>
      De situatie en bebording op straat kan afwijken van de kaartgegevens en prevaleert altijd. Aan deze kaart kunnen
      geen rechten worden ontleend.
    </p>
  </ndw-card-content>
  <ndw-card-footer>
    <button ndwButton (click)="confirm()">Ik begrijp het</button>
  </ndw-card-footer>
</ndw-card>
