<ndw-card>
  <ber-feedback-header title="Disclaimer BETA" />

  <ndw-card-content>
    <p>
      Dit product is nog in ontwikkeling en in de huidige fase <strong>alleen geschikt</strong> voor wegbeheerders voor
      testdoeleinden en ter controle van de achterliggende data. De kaart is <strong>niet</strong> vrijgegeven voor
      weggebruikers.
    </p>
    <p>
      Voor meer informatie over de bereikbaarheidskaart lees verder op de
      <a ndwLink [href]="accessibilityMapUrl" target="_blank">NDW website<ndw-icon>open_in_new</ndw-icon> </a>.
    </p>
    <p>De check wanneer / of de kaartgegevens zijn gecontroleerd vind u in het "bekijk gegevens" scherm.</p>
    <p>
      De situatie en bebording op straat kan afwijken van de kaartgegevens en prevaleert altijd. Aan deze kaart kunnen
      geen rechten worden ontleend.
    </p>
  </ndw-card-content>

  <ndw-card-footer>
    <button ndwButton (click)="confirm()">Ik begrijp het</button>
  </ndw-card-footer>
</ndw-card>
