<div class="map-wrapper__map" #map></div>

@if (showControlPanel()) {
  <ber-control-panel
    (openModal)="openPanel.emit()"
    (showTrafficSignsLayer)="handleTrafficSignVisible($event)"
    (showDetailedAccessibilityLayer)="handleDetailedAccessibilityVisible($event)"
  />
}

<ng-template #trafficSignsPopup>
  <ber-selected-traffic-signs (closed)="closePopup()" />
</ng-template>

<div class="map-controls">
  <ndw-map-button icon="zoom-in" (click)="zoomIn()" />
  <ndw-map-button icon="zoom-out" (click)="zoomOut()" />
  <ndw-map-display [backgroundOptions]="backgroundOptions" (backgroundChange)="onBackgroundChange($event)" />
</div>
