<div class="map-wrapper__map" #mapContainer></div>

@if (showControlPanel()) {
  <ber-control-panel (openModal)="openPanel.emit()" (showTrafficSignsLayer)="handleTrafficSignVisible($event)" />
}

@if (map) {
  <ber-map-popup [map]="map" [mapElementRef]="mapElementRef()" />
}

<div class="map-controls">
  <ndw-map-button icon="zoom-in" (click)="zoomIn()" />
  <ndw-map-button icon="zoom-out" (click)="zoomOut()" />
  <ndw-map-display [backgroundOptions]="backgroundOptions" (backgroundChange)="onBackgroundChange($event)" />
</div>
