ndw-card {
  align-content: flex-start;
  height: 100%;
  width: 30rem;

  @media (max-width: 30rem) {
    width: 100vw;
  }

  ndw-card-content {
    .content {
      width: 100%;
      min-height: 36rem;
    }
  }
}
