<ndw-card>
  <ng-container title> Gemeente of adres kiezen </ng-container>
  <ng-container body>
    <div class="content">
      <p>Selecteer de gemeente of het adres van uw bestemming.</p>
      <form [formGroup]="form()">
        <ndw-form-field>
          <input ndwInput formControlName="address" type="search" placeholder="Voer gemeente of adres in" />
        </ndw-form-field>
        @if (loading) {
          <span>Loading...</span>
        }
        <ul class="list-group pdok-suggestion-list">
          @for (suggestion of pdokSuggestions; track suggestion.id) {
            <li class="list-group-item pdok-suggestion" (click)="selectPdokSuggestion(suggestion.id)">
              {{ suggestion.weergavenaam }}
            </li>
          }
        </ul>
        @if (pdokSuggestions?.length === 0) {
          <span>Er kan geen gemeente of adres worden gevonden met die naam</span>
        }
      </form>
    </div>
  </ng-container>
  <ng-container footer>
    <ber-actions
      [currentStep]="2"
      [disableNext]="form().invalid"
      [steps]="3"
      (next)="onNext()"
      (previous)="onPrevious()"
    />
  </ng-container>
</ndw-card>
