ndw-card {
  align-content: flex-start;
  height: 100%;
  width: 30rem;

  @media (max-width: 30rem) {
    width: 100vw;
  }

  ndw-card-content {
    .content {
      width: 100%;
      min-height: 36rem;
    }

    .pdok-suggestion-list {
      max-height: 280px;
      overflow-y: scroll;

      .pdok-suggestion {
        cursor: pointer;

        &:hover {
          background: var(--ndw-color-grey-200);
        }
      }
    }
  }
}
