ndw-card {
  align-content: flex-start;
  margin-inline: var(--ndw-spacing-sm);
  max-width: 100%;
  width: 30rem;

  .content,
  .footer {
    width: 100%;
  }

  .content {
    min-height: 36rem;
  }
}

.pdok-suggestion-list {
  max-height: 280px;
  overflow-y: scroll;

  .pdok-suggestion {
    cursor: pointer;

    &:hover {
      background: var(--ndw-color-grey-200);
    }
  }
}
