<div class="control-panel">
  <section class="d-flex flex-column gap-2">
    <div class="d-flex justify-content-between align-items-baseline">
      <h2>Uw gegevens</h2>
      <button ndwButton secondary (click)="openModal.emit()">Bekijk</button>
    </div>
    <div>
      @if (isLicensePlateValid) {
        <div class="license-plate">
          <div class="license-plate_prefix">
            <img src="assets/images/kenteken-prefix.svg" alt="Onderscheidingsteken met de NL landcode." />
          </div>
          <span class="license-plate_value">
            @if (!this.isLicensePlateControlDirty) {
              {{ licensePlate }}
            }
          </span>
        </div>
      } @else if (isLicensePlateInvalid) {
        <div class="vehicle-type-container">
          <span> Voertuigtype: </span>
          <span class="value">{{ vehicleType }}</span>
        </div>
      }
    </div>
    @if ((roadSectionInaccessible$ | async) && !isAddressControlDirty) {
      <span>{{ address }} is niet toegankelijk voor uw voertuig.</span>
    } @else {
      <span>{{ address }} is toegankelijk voor uw voertuig.</span>
    }
    @if ((roadSectionInaccessible$ | async) === undefined && (filterContainsCoordinates$ | async)) {
      <span>Er kon geen wegvak worden gevonden voor deze puntlocatie.</span>
    }
  </section>

  <section>
    <h2>Kaartlagen</h2>
    <ndw-form-field label="Kaartlagen" [hideLabel]="true">
      <div class="background-layers">
        <ndw-radio-group>
          @for (background of backgroundLayers(); track background.key) {
            <label>
              <input
                ndwInput
                type="radio"
                name="background"
                [value]="background.key"
                [checked]="background.active"
                (change)="selectBackgroundLayer(background)"
              />
              <img
                ngSrc="./assets/images/background-layer-icon/{{ background.key }}.jpg"
                width="30"
                height="30"
                role="presentation"
                [alt]="background.name"
              />
            </label>
          }
        </ndw-radio-group>
      </div>
    </ndw-form-field>
    <ndw-form-field label="Toon verkeersborden" [hideLabel]="true">
      <ndw-checkbox [checked]="showTrafficSigns()" (checkedChange)="toggleTrafficSigns()">
        Toon verkeersborden
      </ndw-checkbox>
    </ndw-form-field>
  </section>

  <section>
    <h2>Legenda</h2>
    <ber-legend />
  </section>
</div>
