<div class="control-panel">
  <section>
    <div class="control-panel__header">
      <h2>Uw gegevens</h2>
      <button ndwButton alternative secondary (click)="openModal.emit()">Bekijk</button>
    </div>
    <div>
      @if (isLicensePlateValid) {
        <div class="license-plate">
          <div class="license-plate_prefix">
            <img src="assets/images/kenteken-prefix.svg" alt="Onderscheidingsteken met de NL landcode." />
          </div>
          <span class="license-plate_value">
            @if (!this.isLicensePlateControlDirty) {
              {{ licensePlate }}
            }
          </span>
        </div>
      } @else if (isLicensePlateInvalid) {
        <div class="vehicle-type-container">
          <span> Voertuigtype: </span>
          <span class="value">{{ vehicleType }}</span>
        </div>
      }
    </div>
    @if (destinationResults(); as destination) {
      @if (destination.accessible) {
        <span>{{ address }} is toegankelijk voor uw voertuig.</span>
      } @else {
        <span>{{ address }} is <strong>niet toegankelijk</strong> voor uw voertuig.</span>
        @if (destination.reasons.length) {
          <ber-reasons-list [reasons]="destination.reasons" />
        }
      }
    }
  </section>

  <section>
    <ndw-form-field label="Toon verkeersborden" [hideLabel]="true">
      <ndw-checkbox [checked]="showTrafficSigns()" (checkedChange)="toggleTrafficSigns()">
        Toon verkeersborden
      </ndw-checkbox>
    </ndw-form-field>
    <ndw-form-field label="Toon gedetailleerde toegankelijkheid" [hideLabel]="true">
      <ndw-checkbox [checked]="showDetailedAccessibility()" (checkedChange)="toggleDetailedAccessibility()">
        Gedetailleerde weergave
      </ndw-checkbox>
      @if (isLoading()) {
        <ndw-loader class="loading-spinner" />
        <small> Gegevens worden geladen... </small>
      }
    </ndw-form-field>
    @if (showDetailedAccessibility()) {
      <ndw-form-field label="Gedetailleerde Weergave" [hideLabel]="true">
        <ndw-switcher
          [selectedValue]="selectedDetailValue()"
          (selectionChange)="onDetailChange($event)"
          [options]="detailOptions"
        />
      </ndw-form-field>
    }
  </section>

  <section>
    <h2>Legenda</h2>
    <ber-legend />
  </section>
</div>
